<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        <a
          mat-raised-button
          color="primary"
          mat-button
          routerLink="/pokemon"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Retour à la page des Pokémons
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img
        class="image-banner"
        src="assets/images/pokemon-not-found.png"
        alt="Pokémon not found - Pokemon detail"
      />
    </mat-card-content>
  </mat-card>
</div>
