.container {
  .favorite {
    width: 24em;
    border-radius: 7px;
    transition:background-color 0.4s linear;

    mat-icon {
      margin: 0.5em;
    }

    &.add {

      &:hover {
        background-color : rgba(255, 64, 129, 0.1);
      }
    }

    &.delete {
      color: var(--color-black);

      &:hover {
        background-color : rgba(0, 0, 0, 0.1);
      }
    }


  }
}

